In [1]:
import pandas as pd
weather = {
        'day' : [1,2,3,4] ,
        'temp' : [32,45,12,60],
        'event' : ['rain','snow','rain','snow']
}
df = pd.DataFrame(weather)

In [2]:
df

   day  temp event
0    1    32  rain
1    2    45  snow
2    3    12  rain
3    4    60  snow

In [3]:
df.shape

(4, 3)

In [4]:
r, c = df.shape #store rows,columns

In [5]:
r

4

In [6]:
c

3

In [7]:
df.head()

   day  temp event
0    1    32  rain
1    2    45  snow
2    3    12  rain
3    4    60  snow

In [8]:
df.tail()

   day  temp event
0    1    32  rain
1    2    45  snow
2    3    12  rain
3    4    60  snow

In [9]:
df.head(2)

   day  temp event
0    1    32  rain
1    2    45  snow

In [10]:
df.tail(2)

   day  temp event
2    3    12  rain
3    4    60  snow

In [11]:
df[2:]

   day  temp event
2    3    12  rain
3    4    60  snow

In [12]:
df[:]

   day  temp event
0    1    32  rain
1    2    45  snow
2    3    12  rain
3    4    60  snow

In [13]:
df[:1]

   day  temp event
0    1    32  rain

In [15]:
df[:-1]

   day  temp event
0    1    32  rain
1    2    45  snow
2    3    12  rain

In [16]:
df.event

0    rain
1    snow
2    rain
3    snow
Name: event, dtype: object

In [17]:
df['event']

0    rain
1    snow
2    rain
3    snow
Name: event, dtype: object

In [18]:
df[['day','event']]

   day event
0    1  rain
1    2  snow
2    3  rain
3    4  snow

In [19]:
df

   day  temp event
0    1    32  rain
1    2    45  snow
2    3    12  rain
3    4    60  snow

In [20]:
df['temp'].max()

60

In [21]:
df['temp'].min()

12

In [23]:
df[df['temp']==df['temp'].max()]

   day  temp event
3    4    60  snow

In [24]:
df['temp'].sum()

149

In [25]:
df.describe()

            day       temp
count  4.000000   4.000000
mean   2.500000  37.250000
std    1.290994  20.353132
min    1.000000  12.000000
25%    1.750000  27.000000
50%    2.500000  38.500000
75%    3.250000  48.750000
max    4.000000  60.000000

In [26]:
df['day'][df['temp']==df['temp'].max()]

3    4
Name: day, dtype: int64

In [27]:
df[['day','temp']][df['temp']==df['temp'].max()]

   day  temp
3    4    60

In [34]:
df.index

Int64Index([1, 2, 3, 4], dtype='int64', name='day')

In [45]:
df.set_index('day')  #create new df and it not make any change in original one

     temp event
day
1      32  rain
2      45  snow
3      12  rain
4      60  snow

In [35]:
df

     temp event
day
1      32  rain
2      45  snow
3      12  rain
4      60  snow

In [50]:
df.loc[2]

index       1
temp       45
event    snow
Name: 2, dtype: object

In [48]:
df.set_index('day',inplace=True)

In [42]:
df

     temp event
day
1      32  rain
2      45  snow
3      12  rain
4      60  snow

In [47]:
df.reset_index(inplace=True)

In [40]:
df

   day  temp event
0    1    32  rain
1    2    45  snow
2    3    12  rain
3    4    60  snow