# if there is more than one sparksubmit kill them using "kill pid"

In [1]:
sc

In [ ]:
filepath="file:///home/icpl12900/Desktop/assignments/routes.csv"

In [ ]:
filepath

In [ ]:
route=sc.textFile(filepath)

In [ ]:
route

In [ ]:
route.take(10)

take top 10 rows from RDD

In [ ]:
route.count()

take count of no of rows

In [ ]:
route.first()

take first row from RDD

In [ ]:

#route.collect()

take all rows from RDD

all this upper operation request data from RDD and all are called ACTION

Method which is use to read file as textFile is call "TRANSFORMATION"

Operations that create RDD and Convert one RDD into another RDD call "TRANSFORMATION"

** Difference between transformations and RDD is:
1. Transformation is not execute immediately. they execute only actions are call on them

** textFile only take file from path and create RDD for it. It not read or do any operation on it. this job is done by actions

# Filter

In [ ]:
file_for_filter="file:///home/icpl12900/Desktop/data_files/prat.csv"

In [ ]:
data_for_filter=sc.textFile(file_for_filter)

In [ ]:
data_for_filter.collect()

In [ ]:
dataofhead=data_for_filter.first()

In [ ]:
data_without_head=data_for_filter.filter(lambda x : x <> dataofhead)

In [ ]:
data_without_head.collect()

# MAP

using map we can convert unstructre string into structure string with name of filds with we can access

In [ ]:
list_string=data_without_head.map(lambda x:x.split(","))

it take whole record and split it into individual string i.e list of string

In [ ]:
list_string.collect()

In [ ]:
list_string.take(10)

*** Write function

In [ ]:
import csv
from StringIO import StringIO
from collections import namedtuple

In [ ]:
fields=dataofhead.replace(" ","_").replace("/","_").split(",")

In [ ]:
fields

to print list use only name of list i.e fields

In [ ]:
class_for_nametuple=namedtuple('class_for_nametuple',fields,verbose=True)

any object of class have fields

In [ ]:
def parse(row):
    reader = csv.reader(StringIO(row))
    row=reader.next()
    return class_for_nametuple(*row) #this function return object of class_for_name

In [ ]:
data=data_without_head.map(parse) #nametuple is created

In [ ]:
data.first()

In [ ]:
data.first().id #access filed using name

# Find out missing value and remove it

In [ ]:
filepath="file:///home/icpl12900/Desktop/assignments/routes.csv"

In [ ]:
route=sc.textFile(filepath)

In [ ]:
header = route.first()

In [ ]:
header

In [ ]:
data_missing = route.filter(lambda x : x <> header)

In [ ]:
data_missing.take(10)

In [ ]:
import csv
from StringIO import StringIO
from collections import namedtuple

In [ ]:
header_fields = header.replace(" ","_").replace("/","_").split(",")

In [ ]:
header_fields

In [ ]:
class_for_nametuple=namedtuple('class_for_nametuple',header_fields,verbose=True)

In [ ]:
def parse(row):
    reader = csv.reader(StringIO(row))
    row=reader.next()
    return class_for_nametuple(*row)

In [ ]:
data_name=data_missing.map(parse) #nametuple is created

In [ ]:
data_name.take(10)

In [ ]:
data_name.map(lambda x : x.Codeshare).countByValue()  #contain null value

In [ ]:
data_name.map(lambda x : x.Equipment).countByValue() #''

In [ ]:
data_filter = data_name.filter(lambda x : not (x.Codeshare == '' or x.Equipment == '')) #take all data from data_name and apply function only on codeshare

In [ ]:
data_filter.map(lambda x : x.Codeshare).countByValue()

In [ ]:
a=data_filter.map(lambda x : x.Source_airport_ID)

In [ ]:
a.take(10)

In [ ]:
a.reduce(lambda x :

In [ ]:
data_filter.map(lambda x : x.Airline).countByValue()

# Reduce

In [2]:
filepath="file:///home/icpl12900/Desktop/assignments/air.csv"

In [3]:
airpot=sc.textFile(filepath)

In [4]:
airpot_header = airpot.first()

In [5]:
airpot_header

u'IATA/FAA,ICAO,Location,Altitude,Timezone,DST,Tz'

In [6]:
airpot_data = airpot.filter(lambda x :x <> airpot_header)

In [7]:
airpot_data.take(10)

[u'GKA,AYGA,"-6.081689,145.391881",5282,10,U,Pacific/Port_Moresby',
 u'MAG,AYMD,"-5.207083,145.7887",20,10,U,Pacific/Port_Moresby',
 u'HGU,AYMH,"-5.826789,144.295861",5388,10,U,Pacific/Port_Moresby',
 u'LAE,AYNZ,"-6.569828,146.726242",239,10,U,Pacific/Port_Moresby',
 u'POM,AYPY,"-9.443383,147.22005",146,10,U,Pacific/Port_Moresby',
 u'WWK,AYWK,"-3.583828,143.669186",19,10,U,Pacific/Port_Moresby',
 u'UAK,BGBW,"61.160517,-45.425978",112,-3,E,America/Godthab',
 u'GOH,BGGH,"64.190922,-51.678064",283,-3,E,America/Godthab',
 u'SFJ,BGSF,"67.016969,-50.689325",165,-3,E,America/Godthab',
 u'THU,BGTL,"76.531203,-68.703161",251,-4,E,America/Thule']

In [8]:
import csv
from StringIO import StringIO
from collections import namedtuple

In [9]:
airpot_header_fields = airpot_header.replace(" ","_").replace("/","_").split(",")

In [10]:
airpot_header_fields

[u'IATA_FAA', u'ICAO', u'Location', u'Altitude', u'Timezone', u'DST', u'Tz']

In [11]:
class_for_nametuple=namedtuple('class_for_nametuple',airpot_header_fields,verbose=True) #verbose=True it use for give more output related to class u create in spark

class class_for_nametuple(tuple):
    'class_for_nametuple(IATA_FAA, ICAO, Location, Altitude, Timezone, DST, Tz)'

    __slots__ = ()

    _fields = ('IATA_FAA', 'ICAO', 'Location', 'Altitude', 'Timezone', 'DST', 'Tz')

    def __new__(_cls, IATA_FAA, ICAO, Location, Altitude, Timezone, DST, Tz):
        'Create new instance of class_for_nametuple(IATA_FAA, ICAO, Location, Altitude, Timezone, DST, Tz)'
        return _tuple.__new__(_cls, (IATA_FAA, ICAO, Location, Altitude, Timezone, DST, Tz))

    @classmethod
    def _make(cls, iterable, new=tuple.__new__, len=len):
        'Make a new class_for_nametuple object from a sequence or iterable'
        result = new(cls, iterable)
        if len(result) != 7:
            raise TypeError('Expected 7 arguments, got %d' % len(result))
        return result

    def __repr__(self):
        'Return a nicely formatted representation string'
        return 'class_for_nametuple(IATA_FAA=%r, ICAO=%r, Location=%r, Altitude=%r, Timezone=%r, DST=%r, Tz=%r)' % self

    def _asdict(self):
        'Return a new OrderedDict which maps field names to their values'
        return OrderedDict(zip(self._fields, self))

    def _replace(_self, **kwds):
        'Return a new class_for_nametuple object replacing specified fields with new values'
        result = _self._make(map(kwds.pop, ('IATA_FAA', 'ICAO', 'Location', 'Altitude', 'Timezone', 'DST', 'Tz'), _self))
        if kwds:
            raise ValueError('Got unexpected field names: %r' % kwds.keys())
        return result

    def __getnewargs__(self):
        'Return self as a plain tuple.  Used by copy and pickle.'
        return tuple(self)

    __dict__ = _property(_asdict)

    def __getstate__(self):
        'Exclude the OrderedDict from pickling'
        pass

    IATA_FAA = _property(_itemgetter(0), doc='Alias for field number 0')

    ICAO = _property(_itemgetter(1), doc='Alias for field number 1')

    Location = _property(_itemgetter(2), doc='Alias for field number 2')

    Altitude = _property(_itemgetter(3), doc='Alias for field number 3')

    Timezone = _property(_itemgetter(4), doc='Alias for field number 4')

    DST = _property(_itemgetter(5), doc='Alias for field number 5')

    Tz = _property(_itemgetter(6), doc='Alias for field number 6')

In [12]:
import logging
logging.basicConfig(filename='/home/icpl12900/Desktop/example1.log',level=logging.DEBUG)
logging.debug('This message should go to the log file')
logging.info('So should this')
logging.warning('And this, too')

In [ ]:
!pwd

In [ ]:
def parse(row):
    try:
        reader = csv.reader(StringIO(row))
        row=reader.next()
        print("{} {}".format("My Data",row.get(1)))
        return class_for_nametuple(*row)
    except:
        return class_for_nametuple(Airport_ID='24', Name='St Anthony', City='St. Anthony', Country='Canada', IATA_FAA='YAY', ICAO='CYAY', Location="51.391944,-56.083056", Altitude='108', Timezone='-3.5', DST='A', Tz='America/St_Johns')

In [16]:
def parse(row):
    reader = csv.reader(StringIO(row))
    row=reader.next()
    return class_for_nametuple(*row)

In [17]:
airpot_data_name=airpot_data.map(parse)

In [ ]:
def processRecord(record):
        print(record)

In [18]:
airpot_data.foreach(parse)

In [19]:
airpot_data_name

PythonRDD[6] at RDD at PythonRDD.scala:49

In [20]:
airpot_data_name.map(lambda x: x.Location).collect()

['-6.081689,145.391881',
 '-5.207083,145.7887',
 '-5.826789,144.295861',
 '-6.569828,146.726242',
 '-9.443383,147.22005',
 '-3.583828,143.669186',
 '61.160517,-45.425978',
 '64.190922,-51.678064',
 '67.016969,-50.689325',
 '76.531203,-68.703161',
 '65.659994,-18.072703',
 '65.283333,-14.401389',
 '64.295556,-15.227222',
 '65.952328,-17.425978',
 '66.058056,-23.135278',
 '63.985,-22.605556',
 '65.555833,-23.965',
 '64.13,-21.940556',
 '66.133333,-18.916667']

In [21]:
def extractCoords(location):
    loc_lat = float(location[1:location.index(",")])
    loc_lan = float(location[location.index(",")+1:-1])
    return(loc_lat,loc_lan)

In [22]:
airpot_data_name.map(lambda x:extractCoords(x.Location))

PythonRDD[8] at RDD at PythonRDD.scala:49

In [70]:
airpot_data_name.map(lambda x:extractCoords(x.Location))

PythonRDD[33] at RDD at PythonRDD.scala:49

In [75]:
airpot_data_name.collect()

[class_for_nametuple(IATA_FAA='GKA', ICAO='AYGA', Location='-6.081689,145.391881', Altitude='5282', Timezone='10', DST='U', Tz='Pacific/Port_Moresby'),
 class_for_nametuple(IATA_FAA='MAG', ICAO='AYMD', Location='-5.207083,145.7887', Altitude='20', Timezone='10', DST='U', Tz='Pacific/Port_Moresby'),
 class_for_nametuple(IATA_FAA='HGU', ICAO='AYMH', Location='-5.826789,144.295861', Altitude='5388', Timezone='10', DST='U', Tz='Pacific/Port_Moresby'),
 class_for_nametuple(IATA_FAA='LAE', ICAO='AYNZ', Location='-6.569828,146.726242', Altitude='239', Timezone='10', DST='U', Tz='Pacific/Port_Moresby'),
 class_for_nametuple(IATA_FAA='POM', ICAO='AYPY', Location='-9.443383,147.22005', Altitude='146', Timezone='10', DST='U', Tz='Pacific/Port_Moresby'),
 class_for_nametuple(IATA_FAA='WWK', ICAO='AYWK', Location='-3.583828,143.669186', Altitude='19', Timezone='10', DST='U', Tz='Pacific/Port_Moresby'),
 class_for_nametuple(IATA_FAA='UAK', ICAO='BGBW', Location='61.160517,-45.425978', Altitude='112', Timezone='-3', DST='E', Tz='America/Godthab'),
 class_for_nametuple(IATA_FAA='GOH', ICAO='BGGH', Location='64.190922,-51.678064', Altitude='283', Timezone='-3', DST='E', Tz='America/Godthab'),
 class_for_nametuple(IATA_FAA='SFJ', ICAO='BGSF', Location='67.016969,-50.689325', Altitude='165', Timezone='-3', DST='E', Tz='America/Godthab'),
 class_for_nametuple(IATA_FAA='THU', ICAO='BGTL', Location='76.531203,-68.703161', Altitude='251', Timezone='-4', DST='E', Tz='America/Thule'),
 class_for_nametuple(IATA_FAA='AEY', ICAO='BIAR', Location='65.659994,-18.072703', Altitude='6', Timezone='0', DST='N', Tz='Atlantic/Reykjavik'),
 class_for_nametuple(IATA_FAA='EGS', ICAO='BIEG', Location='65.283333,-14.401389', Altitude='76', Timezone='0', DST='N', Tz='Atlantic/Reykjavik'),
 class_for_nametuple(IATA_FAA='HFN', ICAO='BIHN', Location='64.295556,-15.227222', Altitude='24', Timezone='0', DST='N', Tz='Atlantic/Reykjavik'),
 class_for_nametuple(IATA_FAA='HZK', ICAO='BIHU', Location='65.952328,-17.425978', Altitude='48', Timezone='0', DST='N', Tz='Atlantic/Reykjavik'),
 class_for_nametuple(IATA_FAA='IFJ', ICAO='BIIS', Location='66.058056,-23.135278', Altitude='8', Timezone='0', DST='N', Tz='Atlantic/Reykjavik'),
 class_for_nametuple(IATA_FAA='KEF', ICAO='BIKF', Location='63.985,-22.605556', Altitude='171', Timezone='0', DST='N', Tz='Atlantic/Reykjavik'),
 class_for_nametuple(IATA_FAA='PFJ', ICAO='BIPA', Location='65.555833,-23.965', Altitude='11', Timezone='0', DST='N', Tz='Atlantic/Reykjavik'),
 class_for_nametuple(IATA_FAA='RKV', ICAO='BIRK', Location='64.13,-21.940556', Altitude='48', Timezone='0', DST='N', Tz='Atlantic/Reykjavik'),
 class_for_nametuple(IATA_FAA='SIJ', ICAO='BISI', Location='66.133333,-18.916667', Altitude='10', Timezone='0', DST='N', Tz='Atlantic/Reykjavik')]

In [72]:
airpot_data_name.map(lambda x:extractCoords(x.Location)).reduce(lambda x,y:(min(x[0],y[0]),(min(x[1],y[1]))))

#x,y means two rows
#it find long and minimum latitude
#lambda x, y means two arguuments pass to function

(1.160517, -68.70316)

[(6.081689, 145.39188),
 (5.207083, 145.788),
 (5.826789, 144.29586),
 (6.569828, 146.72624),
 (9.443383, 147.22),
 (3.583828, 143.66918),
 (1.160517, -45.42597),
 (4.190922, -51.67806),
 (7.016969, -50.68932),
 (6.531203, -68.70316),
 (5.659994, -18.0727),
 (5.283333, -14.40138),
 (4.295556, -15.22722),
 (5.952328, -17.42597),
 (6.058056, -23.13527),
 (3.985, -22.60555),
 (5.555833, -23.96),
 (4.13, -21.94055),
 (6.133333, -18.91666)]

In [82]:
airpot_data_name.filter(lambda x:x.DST == 'N').map(lambda x:x.Tz).countByValue()

defaultdict(int, {'Atlantic/Reykjavik': 9})

In [95]:
#need to work on it

import gmplot

gmap = gmplot.GoogleMapPlotter(37.428, -122.145, 16)

# PAIR RDD

In [104]:
file1="file:///home/icpl12900/Desktop/Pair_rdd/Dodgers.data"
file2="file:///home/icpl12900/Desktop/Pair_rdd/Dodgers.events"

In [105]:
traffic=sc.textFile(file1)
traffic.take(10) #time after 5 min , no of car within that 5 min

[u'4/10/2005 0:00,-1',
 u'4/10/2005 0:05,-1',
 u'4/10/2005 0:10,-1',
 u'4/10/2005 0:15,-1',
 u'4/10/2005 0:20,-1',
 u'4/10/2005 0:25,-1',
 u'4/10/2005 0:30,-1',
 u'4/10/2005 0:35,-1',
 u'4/10/2005 0:40,-1',
 u'4/10/2005 0:45,-1']

In [107]:
game=sc.textFile(file2)
game.take(10)  #startTime , endTime, audience,opponent,win/loss along with score

[u'04/12/05,13:10:00,16:23:00,55892,San Francisco,W 9-8\ufffd',
 u'04/13/05,19:10:00,21:48:00,46514,San Francisco,W 4-1\ufffd',
 u'04/15/05,19:40:00,21:48:00,51816,San Diego,W 4-0\ufffd',
 u'04/16/05,19:10:00,21:52:00,54704,San Diego,W 8-3\ufffd',
 u'04/17/05,13:10:00,15:31:00,53402,San Diego,W 6-0\ufffd',
 u'04/25/05,19:10:00,21:33:00,36876,Arizona,L 4-2\ufffd',
 u'04/26/05,19:10:00,22:00:00,44486,Arizona,L 3-2\ufffd',
 u'04/27/05,19:10:00,22:17:00,54387,Arizona,L 6-3\ufffd',
 u'04/29/05,19:40:00,22:01:00,40150,Colorado,W 6-3\ufffd',
 u'04/30/05,19:10:00,21:45:00,54123,Colorado,W 6-2\ufffd']

In [112]:
from StringIO import StringIO
from datetime import datetime
import csv

def parsetraffic(row):
    date_format = "%m/%d/%Y %H:%M"
    row = row.split(",")
    row[0] = datetime.strptime(row[0],date_format)
    row[1]=int(row[1])
    return(row[0],row[1]) #here we create tuple from record and i.e we create pair RDD

In [113]:
trafficparse = traffic.map(parsetraffic)

In [114]:
trafficparse.take(10) #timestamp = key and no. of cars = value

[(datetime.datetime(2005, 4, 10, 0, 0), -1),
 (datetime.datetime(2005, 4, 10, 0, 5), -1),
 (datetime.datetime(2005, 4, 10, 0, 10), -1),
 (datetime.datetime(2005, 4, 10, 0, 15), -1),
 (datetime.datetime(2005, 4, 10, 0, 20), -1),
 (datetime.datetime(2005, 4, 10, 0, 25), -1),
 (datetime.datetime(2005, 4, 10, 0, 30), -1),
 (datetime.datetime(2005, 4, 10, 0, 35), -1),
 (datetime.datetime(2005, 4, 10, 0, 40), -1),
 (datetime.datetime(2005, 4, 10, 0, 45), -1)]

# 1. reduceByKey :

 

same as reduce operation and use for combine record who have same key

it need function with two arguments

it is transformation

it return RDD and we have to do operation on it


syntax: lambda(x,y:x+y)    it take 2 value of same key and combine it

In [117]:
dailytrend = trafficparse.map(lambda x : (x[0].date(),x[1]))\
                        .reduceByKey(lambda x,y :x+y)
    
    
    #we create RDD where key = date and Value = sum of cars
    #we convert timestamp into date and take 2nd argument as it is and apply reduceByKey function to sum no of cars of same date

In [118]:
dailytrend.take(10)

[(datetime.date(2005, 8, 9), 5958),
 (datetime.date(2005, 6, 29), 5437),
 (datetime.date(2005, 8, 17), 6673),
 (datetime.date(2005, 9, 6), 6402),
 (datetime.date(2005, 5, 22), 4977),
 (datetime.date(2005, 6, 21), 5759),
 (datetime.date(2005, 7, 14), 5338),
 (datetime.date(2005, 8, 25), 6463),
 (datetime.date(2005, 9, 14), 5631),
 (datetime.date(2005, 5, 30), 3973)]

In [124]:
sort_dailytrend = dailytrend.sortBy(lambda x: -x[1]) 

#sort operation to sort record and -x[1]   means sort by value i.e x[1] and -x[1] means sort by descinding order
#if we use x[1] only then sort by ascending order
#sortBy is built-in function

In [123]:
sort_dailytrend.take(10)

[(datetime.date(2005, 4, 10), -288),
 (datetime.date(2005, 10, 1), -260),
 (datetime.date(2005, 6, 28), -96),
 (datetime.date(2005, 7, 4), 328),
 (datetime.date(2005, 7, 12), 1204),
 (datetime.date(2005, 5, 23), 2173),
 (datetime.date(2005, 9, 17), 2426),
 (datetime.date(2005, 9, 10), 2851),
 (datetime.date(2005, 6, 27), 2907),
 (datetime.date(2005, 7, 10), 3518)]

# 2.Merge

spark allow you to merge two pair RDD based on keys . and if they have different value then it make list of that differnt value of same key and this operation is called "JOIN"

three diff join:

1.join == inner join

2.leftOuterJoin == same as sql

3.rightOuterJoin == same as sql

In [132]:
from StringIO import StringIO
from datetime import datetime
import csv

def parsegame(row):
    date_format = "%m/%d/%y"
    row = row.split(",")
    row[0] = datetime.strptime(row[0],date_format).date()
    return(row[0],row[4])

In [135]:
gameparse = game.map(parsegame)  #create pair RDD of Game

In [136]:
gameparse.take(10)

[(datetime.date(2005, 4, 12), u'San Francisco'),
 (datetime.date(2005, 4, 13), u'San Francisco'),
 (datetime.date(2005, 4, 15), u'San Diego'),
 (datetime.date(2005, 4, 16), u'San Diego'),
 (datetime.date(2005, 4, 17), u'San Diego'),
 (datetime.date(2005, 4, 25), u'Arizona'),
 (datetime.date(2005, 4, 26), u'Arizona'),
 (datetime.date(2005, 4, 27), u'Arizona'),
 (datetime.date(2005, 4, 29), u'Colorado'),
 (datetime.date(2005, 4, 30), u'Colorado')]

In [139]:
dailyTrendCombined = dailytrend.leftOuterJoin(gameparse)
#create new RDD

In [140]:
dailyTrendCombined.take(10)
#here we join two RDD using date =key and make list of value

[(datetime.date(2005, 9, 24), (5848, u'Pittsburgh')),
 (datetime.date(2005, 8, 11), (7110, u'Philadelphia')),
 (datetime.date(2005, 6, 21), (5759, None)),
 (datetime.date(2005, 5, 24), (4138, None)),
 (datetime.date(2005, 6, 13), (5974, None)),
 (datetime.date(2005, 7, 18), (5994, None)),
 (datetime.date(2005, 4, 23), (5366, None)),
 (datetime.date(2005, 6, 29), (5437, u'San Diego')),
 (datetime.date(2005, 8, 15), (5329, None)),
 (datetime.date(2005, 6, 1), (6520, u'Chicago Cubs'))]

In [142]:
def checkGameDay(row):
    if row[1][1] == None:
        return (row[0],row[1][1],"Regular Day",row[1][0])
    else:
         return (row[0],row[1][1],"Game Day",row[1][0])

#create function to convert tuple into 4 values:
    #date,opponent,type of day and #car
    
#here row[1][1] means row from leftOuterJoin 2 value from Value elment bcoz index start with 0 so key =0 index and value=1st index

In [143]:
dailytrendgame = dailyTrendCombined.map(checkGameDay)
#apply function

In [144]:
dailytrendgame.take(10)

[(datetime.date(2005, 9, 24), u'Pittsburgh', 'Game Day', 5848),
 (datetime.date(2005, 8, 11), u'Philadelphia', 'Game Day', 7110),
 (datetime.date(2005, 6, 21), None, 'Regular Day', 5759),
 (datetime.date(2005, 5, 24), None, 'Regular Day', 4138),
 (datetime.date(2005, 6, 13), None, 'Regular Day', 5974),
 (datetime.date(2005, 7, 18), None, 'Regular Day', 5994),
 (datetime.date(2005, 4, 23), None, 'Regular Day', 5366),
 (datetime.date(2005, 6, 29), u'San Diego', 'Game Day', 5437),
 (datetime.date(2005, 8, 15), None, 'Regular Day', 5329),
 (datetime.date(2005, 6, 1), u'Chicago Cubs', 'Game Day', 6520)]

In [147]:
dailytrendgame.sortBy(lambda x : -x[3]).take(10) #apply descending sort

[(datetime.date(2005, 7, 28), u'Cincinnati', 'Game Day', 7661),
 (datetime.date(2005, 7, 29), u'St. Louis', 'Game Day', 7499),
 (datetime.date(2005, 8, 12), u'NY Mets', 'Game Day', 7287),
 (datetime.date(2005, 7, 27), u'Cincinnati', 'Game Day', 7238),
 (datetime.date(2005, 9, 23), u'Pittsburgh', 'Game Day', 7175),
 (datetime.date(2005, 7, 26), u'Cincinnati', 'Game Day', 7163),
 (datetime.date(2005, 5, 20), u'LA Angels', 'Game Day', 7119),
 (datetime.date(2005, 8, 11), u'Philadelphia', 'Game Day', 7110),
 (datetime.date(2005, 9, 8), None, 'Regular Day', 7107),
 (datetime.date(2005, 9, 7), u'San Francisco', 'Game Day', 7082)]

#  3. CombineByKey

use for combine record of same key within RDD

use for finding "AVERAGE of value"

if we want to calculate average by using "reduceByKey" then it give wrong result bcoz reduceByKey 1st apply on 1st two rows then result and 3rd row. so it give wrong result

so for right result use following:

1.sum per group

2.count per group

3.join

4.divide sum/count

using combineByKey we complete 1st three steps in 1 step:

    combineByKey required 3 function  to compute sum and count at same time

In [148]:
dailytrendgame.map(lambda x : (x[2],x[3]))\  #here 1st create pair RDD where key=regular day or game day and value=traffic
               .combineByKey(lambda value : (value,1),\
                             (lambda acc,value : (acc[0] + value, acc[1] + 1)),\
                             (lambda acc1,acc2 : (acc1[0]+acc2[0],acc1[1]+acc2[1])))\
                .mapValues(lambda x : x[0]/x[1])\ #here we take ratio of sum and count
                .collect()

[('Game Day', 5948), ('Regular Day', 5411)]