# SPARK SQL

Instead of giving arbitory information of RDD. We give those row some structure and treate RDD as DATABASES.
and its called "DATAFRAME" and "DATASETS".

Spark SQL is a Spark module for structured data processing.
the interfaces provided by Spark SQL provide Spark with more information about the structure of both the data and the computation being performed.There are several ways to interact with Spark SQL including SQL and the Dataset API. When computing a result the same execution engine is used, independent of which API/language you are using to express the computation. This unification means that developers can easily switch back and forth between different APIs based on which provides the most natural way to express a given transformation.

# DATAFRAME

A DataFrame is a distributed collection of data, which is organized into named columns. Conceptually, it is equivalent to relational tables with good optimization techniques.

A DataFrame can be constructed from  different sources such as Hive tables, Structured Data files, external databases, or existing RDDs. This API was designed for modern Big Data and data science applications.

Data in Dataframe is store in form of Columns and Row format.

## DATAFRAME BASICS:

##### To start with DATAFRAME First we have to start "SPARK SESSION"

## SQLContext

SQLContext is a class and is used for initializing the functionalities of Spark SQL. SparkContext class object (sc) is required for initializing SQLContext class object.

The following command is used for initializing the SparkContext through spark-shell.

$ spark-shell

By default, the SparkContext object is initialized with the name sc when the spark-shell starts.

Use the following command to create SQLContext.

scala> val sqlcontext = new org.apache.spark.sql.SQLContext(sc)

1. we treate RDD as ROW OBJECT which contain columns.

2. we can perform "SQL" like QUERY on it.

3. It has SCHEMA. i.e STRUCTURE. 

4. We can Read and Write to JSON, HIVE

5. communicate with JDBC/ODBC

If we have input data is  structure data like data store in relational database then we can use it in dataframe

###  We can create DATAFRAME using :
           1. Import Structure data from JDBC/ODBC
           2. Import JSON Data
           3. Convert RDD to DATAFRAME

####  But once we have DATAFRAME :
                we can do "CreateorReplaceTempView" to actual create table in memory

##  Operations That can perform on DATAFRAME:
        1. myresultDataFrame.show()                               #to show data in dataframe
        2. myresultDataFrame.select("id")                         #to select id column from dataframe
        3. myresultDataFrame.filter(myresultDataFrame("id" > 5))        
        4. myresultDataFrame.groupBy(myresultDataFrame(id)).mean()
        5. myresultDataFrame.rdd().map(function)

### In SPARK 2.0 "DataFrame"  is "DATASET"  of row object. Dataset is Dataframe of Structure DATA. 
### Dataframe isn't Dataset but Dataset is DataFrame of Structure Data.

##### We can define our own user defined function

# DIFFERENCE BETWEEN RDD, DATAFRAME AND DATASETS

##   Apache Spark APIs – RDD, DataFrame, and DataSet

###### Before starting the comparison between Spark RDD vs DataFrame vs Dataset, let us see RDDs, DataFrame and Datasets in Spark:

###### 1. Spark RDD APIs –
                An RDD stands for Resilient Distributed Datasets. It is Read-only partition collection of records. RDD is the fundamental data structure of Spark. It allows a programmer to perform in-memory computations on large clusters in a fault-tolerant manner. Thus, speed up the task. Follow this link to learn Spark RDD in great detail.
###### 2. Spark Dataframe APIs – 
                Unlike an RDD, data organized into named columns. For example a table in a relational database. It is an immutable distributed collection of data. DataFrame in Spark allows developers to impose a structure onto a distributed collection of data, allowing higher-level abstraction. Follow this link to learn Spark DataFrame in detail.
###### 3. Spark Dataset APIs –
                Datasets in Apache Spark are an extension of DataFrame API which provides type-safe, object-oriented programming interface. Dataset takes advantage of Spark’s Catalyst optimizer by exposing expressions and data fields to a query planner. Follow this link to learn Spark DataSet in detail.

### Data Representation in RDD, DataFrame, and DataSet

###### RDD – 
        RDD is a distributed collection of data elements spread across many machines in the cluster. RDDs are a set of Java or Scala objects representing data.
###### DataFrame – 
            A DataFrame is a distributed collection of data organized into named columns. It is conceptually equal to a table in a relational database.
###### DataSet –
        It is an extension of DataFrame API that provides the functionality of – type-safe, object-oriented programming interface of the RDD API and performance benefits of the Catalyst query optimizer and off heap storage mechanism of a DataFrame API.

###  Data Formats in RDD, DataFrame, and DataSet

###### RDD – 
        It can easily and efficiently process data which is structured as well as unstructured. But like Dataframe and DataSets, RDD does not infer the schema of the ingested data and requires the user to specify it.
###### DataFrame –
            It can process structured and unstructured data efficiently. It organizes the data in the named column. DataFrames allow the Spark to manage schema.
###### DataSet –
            It also efficiently processes structured and unstructured data. It represents data in the form of JVM objects of row or a collection of row object. Which is represented in tabular forms through encoders.

## Resilient Distributed Dataset (RDD)

RDD was the primary user-facing API in Spark since its inception. At the core, an RDD is an immutable distributed collection of elements of your data, partitioned across nodes in your cluster that can be operated in parallel with a low-level API that offers transformations and actions.

#### When to use RDDs?

Consider these scenarios or common use cases for using RDDs when:

you want low-level transformation and actions and control on your dataset;
your data is unstructured, such as media streams or streams of text;
you want to manipulate your data with functional programming constructs than domain specific expressions;
you don’t care about imposing a schema, such as columnar format, while processing or accessing data attributes by name or column; and
you can forgo some optimization and performance benefits available with DataFrames and Datasets for structured and semi-structured data.


##  DataFrames

Like an RDD, a DataFrame is an immutable distributed collection of data. Unlike an RDD, data is organized into named columns, like a table in a relational database. Designed to make large data sets processing even easier, DataFrame allows developers to impose a structure onto a distributed collection of data, allowing higher-level abstraction; it provides a domain specific language API to manipulate your distributed data; and makes Spark accessible to a wider audience, beyond specialized data engineers.

In our preview of Apache Spark 2.0 webinar and subsequent blog, we mentioned that in Spark 2.0, DataFrame APIs will merge with Datasets APIs, unifying data processing capabilities across libraries. Because of this unification, developers now have fewer concepts to learn or remember, and work with a single high-level and type-safe API called Dataset.

# BASIC EXAMPLE OF SPARK DATAFRAME

In [1]:
sc

In [13]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import max, desc

spark = SparkSession.builder.appName('airflight').getOrCreate()

import collections

In [14]:
def mapper(line):
    fields = line.split(',')
    return Row(ID=int(fields[0]), name=str(fields[1].encode("utf-8")), age=int(fields[2]), numFriends=int(fields[3]))

In [15]:
lines = sc.textFile("file:///home/icpl12900/Desktop/assignments/fakefriends.csv")

In [16]:
lines.take(10)

[u'0,Will,33,385',
 u'1,Jean-Luc,26,2',
 u'2,Hugh,55,221',
 u'3,Deanna,40,465',
 u'4,Quark,68,21',
 u'5,Weyoun,59,318',
 u'6,Gowron,37,220',
 u'7,Will,54,307',
 u'8,Jadzia,38,380',
 u'9,Hugh,27,181']

In [17]:
people = lines.map(mapper)

In [18]:
people.take(1)

[Row(ID=0, age=33, name='Will', numFriends=385)]

In [19]:
# Infer the schema, and register the DataFrame as a table.
schemaPeople = spark.createDataFrame(people).cache()

In [21]:
schemaPeople.createOrReplaceTempView("people")  
#here, we create temporary table from dataframe

In [22]:
# SQL can be run over DataFrames that have been registered as a table.
teenagers = spark.sql("SELECT * FROM people WHERE age >= 13 AND age <= 19")

In [23]:
# The results of SQL queries are RDDs and support all the normal RDD operations.
for teen in teenagers.collect():
  print(teen)

Row(ID=21, age=19, name=u'Miles', numFriends=268)
Row(ID=52, age=19, name=u'Beverly', numFriends=269)
Row(ID=54, age=19, name=u'Brunt', numFriends=5)
Row(ID=106, age=18, name=u'Beverly', numFriends=499)
Row(ID=115, age=18, name=u'Dukat', numFriends=397)
Row(ID=133, age=19, name=u'Quark', numFriends=265)
Row(ID=136, age=19, name=u'Will', numFriends=335)
Row(ID=225, age=19, name=u'Elim', numFriends=106)
Row(ID=304, age=19, name=u'Will', numFriends=404)
Row(ID=341, age=18, name=u'Data', numFriends=326)
Row(ID=366, age=19, name=u'Keiko', numFriends=119)
Row(ID=373, age=19, name=u'Quark', numFriends=272)
Row(ID=377, age=18, name=u'Beverly', numFriends=418)
Row(ID=404, age=18, name=u'Kasidy', numFriends=24)
Row(ID=409, age=19, name=u'Nog', numFriends=267)
Row(ID=439, age=18, name=u'Data', numFriends=417)
Row(ID=444, age=18, name=u'Keiko', numFriends=472)
Row(ID=492, age=19, name=u'Dukat', numFriends=36)
Row(ID=494, age=18, name=u'Kasidy', numFriends=194)

In [24]:
schemaPeople.groupBy("age").count().orderBy("age").show()

+---+-----+
|age|count|
+---+-----+
| 18|    8|
| 19|   11|
| 20|    5|
| 21|    8|
| 22|    7|
| 23|   10|
| 24|    5|
| 25|   11|
| 26|   17|
| 27|    8|
| 28|   10|
| 29|   12|
| 30|   11|
| 31|    8|
| 32|   11|
| 33|   12|
| 34|    6|
| 35|    8|
| 36|   10|
| 37|    9|
+---+-----+
only showing top 20 rows

# POPULAR MOVIE

In [26]:
filepath =sc.textFile("file:///home/icpl12900/Desktop/assignments/ml-100k/u.data")

In [57]:
filepath.take(2)

[u'196\t242\t3\t881250949', u'186\t302\t3\t891717742']

In [58]:
filepath

file:///home/icpl12900/Desktop/assignments/ml-100k/u.data MapPartitionsRDD[34] at textFile at NativeMethodAccessorImpl.java:0

In [50]:
def mapper(line):
    fields = line.split('\t')
    return Row(ID=int(fields[0]))

In [51]:
## Convert it to a RDD of Row objects
data = filepath.map(mapper)

In [52]:
# Convert that to a DataFrame
movieDataset = spark.createDataFrame(data)

In [55]:
popularMovie = movieDataset.groupby("ID").count().orderBy("count", ascending=False)

In [56]:
popularMovie.take(2)

[Row(ID=405, count=737), Row(ID=655, count=685)]